body {
	font-family: Verdana;
	font-size: 10px;
	text-align:center;
	background-image: url('../img/background.jpg');
	background-color:#c5ddf0;
	background-position: center top;
	background-repeat: no-repeat;
	margin:0;
	padding:0;
}

.ui-widget-content .ui-state-disabled {
	filter: Alpha(opacity=80)\9;
	opacity: .80\9;
}

.myTable3 td:nth-child(3) {
    width: 100px !important;
}

.myTable td:nth-child(2) {
    width: 100px !important;
}

.myTable2 td:nth-child(1) {
    width: 100px !important;
}

.myTable4 td:nth-child(1) {
   width: 25px !important;
}

.myTable4 td:nth-child(5) {
   width: 115px !important;
}

.myTable4 td:nth-child(9) {
   width: 25px !important;
}

.docTbl td:nth-child(2) {
   width: 40px !important;
}

.polje1 {
	display:block !important;
	margin-top:3px !important;
	margin-bottom: 3px !important;
}

table {
	margin:0;
	padding:0;
	border: none;
}

#menubar {
	z-index: 130 !important;
    overflow: visible !important;
    background-color:#FFFFFF;
}

.tab_custom {
	/*margin-bottom:15px;*/
}

.kol1,.kol2,.kol3,.kol4, kol5 {
	float:left;
	width:162px;
	margin:5px;
}

.visina {
	/*min-height:520px;*/
	height:540px;
	background-color:#FFFFFF;
}

.visina2 {
	/*min-height:520px;*/
	height:640px;
	background-color:#FFFFFF;
}

.spacer {
	height:8px;
}

.spacer2 {
	height:2px;
}

.spacer3 {
	width:5px;
	display:inline;
}

.spacer4 {
	height:20px;
}

.right {
	text-align: right !important;
}

#email{
	position:relative;
	left:-16px;
	top:-2px;
	text-align: right;
	z-index:1000;
}

.logout{
	margin-left:5px;
}

a img {
	border:0;
}

#header {
	height: 150px;
	background-image: url('../img/header_1024.jpg');
	background-color: #f9fafb;
	background-position: center top;
	background-repeat:no-repeat; 
}

#navigation {
	background-color: #f9fafb;
	text-align:left;
	padding-left:30px;
	height:35px;
}

#menu {
	background-color: #fff;
	text-align:left;
}

#container{
	width:1124px;
	background-color: #f9fafb !important;
}

#menu {
	background-color: #fff;
}

.center {
	margin:0 auto;
}

/*tooltip*/

.left {
	text-align:left !important;
}

.desc {
	font-weight:bold;
	font-size:14px; 
	text-transform: uppercase; 
}

/*end tooltip*/

.custom_tbl {
	margin:0 auto;
	padding-bottom: 20px;
}

h2 {
	font-size:13px;
	color: #ff9900;
	padding: 12px 0px 4px 0px;
	margin:0px;
}

a {
	text-decoration: underline;
	color: #ff9900;
} 

td a {
	text-decoration: underline;
	color: #ff9900 !important;
} 

#main {
	background-color: #f9fafb;
	margin:0 auto;
	min-height:520px;
	/*
	* position:relative;
	* margin-top:-20px;
	* padding-bottom:20px;*/
}

#footer {
	color: #000000;
	background-color:#c5ddf0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.box2 {
	text-align:left;
	margin-bottom:20px;
	padding:20px;
}

.box1 {
	margin:0;
	text-align:left;
	margin-top:10px;
	margin-bottom:5px;
}

.generated {
	background-color:green;
}

.assigned {
	background-color:yellow;
}