body {
	font-family: Verdana;
	font-size: 11px;
	text-align:center;
	background-image: url('../img/background.jpg');
	background-color:#003f51;
	background-position: center top;
	background-repeat:no-repeat;
	margin:0;
	padding:0;
}



table {
	margin:0;
	padding:0;
}

.tab_custom {
	/*margin-bottom:15px;*/
}

.kol1,.kol2,.kol3,.kol4, kol5 {
	float:left;
	width:162px;
	margin:5px;
}

.visina {
	/*min-height:520px;*/
	height:540px;
	background-color:#FFFFFF;
}

.visina2 {
	/*min-height:520px;*/
	height:640px;
	background-color:#FFFFFF;
}

.spacer {
	height:8px;
}

.spacer2 {
	height:2px;
}

.unosBean-table {
	margin:15px auto;
	width:880px;
	border-collapse: collapse;
}

.unosBean-table-header, th {
	height:28px;
	background-image: url('../img/table_header.gif');
	color:#FFFFFF;
}

.unosBean-table td {
    border: 1px solid #A5EFFF !important;
  	font: 11px Verdana !important;
  	vertical-align: middle;
  	text-align: center !important;
}

.unosBean-table td table td { border: none !important }

.unosBean-table2 {
	margin:15px auto;
	width:880px;
	border-collapse: collapse !important;
}

.unosBean-table2-header, th, .ui-datatable-header {
	background-image: url('../img/table_header.gif') !important;
	color:#FFFFFF !important;
	padding:4px !important;
	margin:0px !important;
	border-collapse: collapse !important;
	border: none !important;
	font-weight:bold;
	font: 11px Verdana !important;
}

.ui-paginator {
	border-top: 1px solid #CBC3BE;
}

.right {
	text-align: right !important;
}

.unosBean-table2 td {
    border: 1px solid #A5EFFF !important;
  	font: 11px Verdana !important;
  	vertical-align: middle;
  	text-align: left !important;
  	border-collapse: collapse !important;
  	padding:4px;
}

.unosBean-table-even-row, .ui-datatable-even {
	background-color:#D6F5FF !important;
}

.unosBean-table td img {
	padding-top:2px;
}

.col1 {
	width:92px;
}

.col2 {
	width:152px;
}

.col3 {
	width:142px;
}

.col4 {
	width:131px;
}

.col5 {
	width:101px;
}

.col6 {
	width:64px;
}

.col7 {
	width:143px;
}

#cmd {
	margin-top:10px;
	text-align:left; 
}

#email{
	position:relative;
	left:-16px;
	top:-2px;
	text-align: right;
	z-index:1000;
}

.logout{
	margin-left:5px;
}

a img {
	border:0;
}

#header {
	height: 150px;
	background-image: url('../img/header.jpg');
	background-color: #fff;
	background-position: center top;
	background-repeat:no-repeat; 
}

#navigation {
	background-color: #fff;
	text-align:left;
	padding-left:30px;
	height:50px;
}

#container{
	width:920px;
}

.center {
	margin:0 auto;
}

/*tooltip*/

.left {
	padding:5px;
	color:#0192b1;	
	font-size:18px;
}

.desc {
	font-weight:bold;
	font-size:14px; 
	text-transform: uppercase; 
}

/*end tooltip*/

.custom_tbl {
	margin:0 auto;
	padding-bottom: 20px;
}

h2 {
	font-size:13px;
	color: #0192b1;
	padding: 12px 0px 4px 0px;
	margin:0px;
}

a {
	text-decoration: underline;
	color: #0192b1;
} 

td a {
	text-decoration: underline;
	color: #0192b1 !important;
} 

#main {
	background-color: #fff;
	margin:0 auto;
	min-height:520px;
	/*
	* position:relative;
	* margin-top:-20px;
	* padding-bottom:20px;*/
}

#footer {
	color: #0192B1;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.box2 {
	text-align:left;
	margin-bottom:20px;
	padding:20px;
}

.box1 {
	margin:0;
	text-align:left;
	margin-top:10px;
	margin-bottom:5px;
}